#download{
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  top: 0;
  bottom: 0;
  background-color: rgba(219,215,219, 0.7);
  clip-path: polygon(24% 0, 80% 0%, 100% 20%, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0% 20%);
  padding-top: pxtorem(80);


  #totaldown{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    width: 60%;
    margin-left: pxtorem(60);
    h2{
      font-size: pxtorem(40);
      margin-bottom: pxtorem(10);
      text-align: center;
    }
    h3{
      font-size: pxtorem(50);
      margin-bottom: pxtorem(30);
      text-align: center;

    }
    a{
      text-align: center;
      img{
        width: 200px;
        height: 58px;
        position: relative;
        left: 30px;

      }
    }
  }
  img{
    width: 300px;
    height: 380px;
    margin-right: pxtorem(80);
  }
}
