#testimonial{
  background-color: rgba(25, 25, 25, 0.86);
  margin: pxtorem(200) 0;
  position: relative;

  clip-path: polygon(0 6%, 100% 0, 100% 100%, 0 94%);
  #background{
    width: 70vw;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: white;
  }

  article{
    position: relative;
    z-index: 20;
    padding: pxtorem(100) 0 pxtorem(70);
    text-align: center;
    h2{
      text-transform: uppercase;
      color: black;
      margin-bottom: pxtorem(38);
      font-size: pxtorem(35);
    }
    h4{
      span{
        font-size: pxtorem(35);
        color: #D63731;
      }
      font-size: pxtorem(28);


    }

    #reviews{
      display: flex;
      color: white;
      margin: pxtorem(32) pxtorem(24);
      #review{
        line-height: 240%;
        letter-spacing: 0.5px;
        margin: 0 pxtorem(18);
        padding: pxtorem(24);
        text-align: center;
        background-color: #b51510;
      }
      #review:nth-of-type(1){background-color: #d6433e};
      #review:nth-of-type(3){background-color: #d6433e};
    }

  }

}
